*.tlog
*.obj
*.sbr
*.cod
Server/Release_MSVC/FOnlineServer.map
Server/Release_MSVC/FOnlineServer.pdb
*.pch
*.lastbuildstate
Server/Release_MSVC/vc100.pdb
Server/Release_MSVC/vc141.pdb
Server/Release_MSVC/Server.res
Server/Release_MSVC/Server.log
Server/Release_MSVC/FOserver.bsc
Server/Server.vcxproj.user
Server/Release/
Server/Release_MSVC/
Client/ReleaseD3D/
Client/Release/
Client/Debug/
ASCompiler/ASCompiler.vcxproj.user
Client/Client.vcxproj.user
Mapper/Mapper.vcxproj.user
Mapper/Release/
ASCompiler/Release/
Mapper/ReleaseD3D/
*/.vs/
Source/AngelScript/old/
Source/AngelScript/new/